<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<!-- CSS -->
	<link rel="stylesheet" href="/css/seats_style.css" />

	<!-- Bootstrap -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>

	<!-- Fonts -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Manrope:wght@300&display=swap" rel="stylesheet">

	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">

</head>

<body>

	<section>

		<h1>Select your seats
			<button class="btn btn-primary" id="info_btn" data-bs-toggle="modal" data-bs-target="#memorandum-modal">
				<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-info-circle" width="35"
					height="35" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
					stroke-linecap="round" stroke-linejoin="round">
					<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
					<circle cx="12" cy="12" r="9"></circle>
					<line x1="12" y1="8" x2="12.01" y2="8"></line>
					<polyline points="11 12 12 12 12 16 13 16"></polyline>
				</svg>
			</button>
		</h1>

		{{#if alertRender}}
		<div>
			<div class="alert alert-danger">
				<strong>Error</strong><br>You must select {{passengersNo}} seat(s).
			</div>
		</div>
		{{/if}}

		<form action="/seats/add" method="GET">

			<div class="plane">
				<div class="cockpit"></div>
				<div class="exit exit--front fuselage"></div>

				<ol class="cabin fuselage">
					<li class="row row-1">
						<ol class="seats" type="A">
							<li class="seat">
								{{#if A1}}
								<input type="checkbox" name="1A" id="1A" disabled />
								{{else}}
								<input type="checkbox" name="1A" id="1A" />
								{{/if}}
								<label for="1A">1A</label>
							</li>
							<li class="seat">
								{{#if B1}}
								<input type="checkbox" name="1B" id="1B" disabled />
								{{else}}
								<input type="checkbox" name="1B" id="1B" />
								{{/if}}
								<label for="1B">1B</label>
							</li>
							<li class="seat">
								{{#if C1}}
								<input type="checkbox" name="1C" id="1C" disabled />
								{{else}}
								<input type="checkbox" name="1C" id="1C" />
								{{/if}}
								<label for="1C">1C</label>
							</li>
							<li class="seat">
								{{#if D1}}
								<input type="checkbox" name="1D" id="1D" disabled />
								{{else}}
								<input type="checkbox" name="1D" id="1D" />
								{{/if}}
								<label for="1D">1D</label>
							</li>
							<li class="seat">
								{{#if E1}}
								<input type="checkbox" name="1E" id="1E" disabled />
								{{else}}
								<input type="checkbox" name="1E" id="1E" />
								{{/if}}
								<label for="1E">1E</label>
							</li>
							<li class="seat">
								{{#if F1}}
								<input type="checkbox" name="1F" id="1F" disabled />
								{{else}}
								<input type="checkbox" name="1F" id="1F" />
								{{/if}}
								<label for="1F">1F</label>
							</li>
						</ol>
					</li>
					<li class="row row-2">
						<ol class="seats" type="A">
							<li class="seat">
								{{#if A2}}
								<input type="checkbox" name="2A" id="2A" disabled />
								{{else}}
								<input type="checkbox" name="2A" id="2A" />
								{{/if}}
								<label for="2A">2A</label>
							</li>
							<li class="seat">
								{{#if B2}}
								<input type="checkbox" name="2B" id="2B" disabled />
								{{else}}
								<input type="checkbox" name="2B" id="2B" />
								{{/if}}
								<label for="2B">2B</label>
							</li>
							<li class="seat">
								{{#if C2}}
								<input type="checkbox" name="2C" id="2C" disabled />
								{{else}}
								<input type="checkbox" name="2C" id="2C" />
								{{/if}}
								<label for="2C">2C</label>
							</li>
							<li class="seat">
								{{#if D2}}
								<input type="checkbox" name="2D" id="2D" disabled />
								{{else}}
								<input type="checkbox" name="2D" id="2D" />
								{{/if}}
								<label for="2D">2D</label>
							</li>
							<li class="seat">
								{{#if E2}}
								<input type="checkbox" name="2E" id="2E" disabled />
								{{else}}
								<input type="checkbox" name="2E" id="2E" />
								{{/if}}
								<label for="2E">2E</label>
							</li>
							<li class="seat">
								{{#if F2}}
								<input type="checkbox" name="2F" id="2F" disabled />
								{{else}}
								<input type="checkbox" name="2F" id="2F" />
								{{/if}}
								<label for="2F">2F</label>
							</li>
						</ol>
					</li>
					<li class="row row-3">
						<ol class="seats" type="A">
							<li class="seat">
								{{#if A3}}
								<input type="checkbox" name="3A" id="3A" disabled />
								{{else}}
								<input type="checkbox" name="3A" id="3A" />
								{{/if}}
								<label for="3A">3A</label>
							</li>
							<li class="seat">
								{{#if B3}}
								<input type="checkbox" name="3B" id="3B" disabled />
								{{else}}
								<input type="checkbox" name="3B" id="3B" />
								{{/if}}
								<label for="3B">3B</label>
							</li>
							<li class="seat">
								{{#if C3}}
								<input type="checkbox" name="3C" id="3C" disabled />
								{{else}}
								<input type="checkbox" name="3C" id="3C" />
								{{/if}}
								<label for="3C">3C</label>
							</li>
							<li class="seat">
								{{#if D3}}
								<input type="checkbox" name="3D" id="3D" disabled />
								{{else}}
								<input type="checkbox" name="3D" id="3D" />
								{{/if}}
								<label for="3D">3D</label>
							</li>
							<li class="seat">
								{{#if E3}}
								<input type="checkbox" name="3E" id="3E" disabled />
								{{else}}
								<input type="checkbox" name="3E" id="3E" />
								{{/if}}
								<label for="3E">3E</label>
							</li>
							<li class="seat">
								{{#if F3}}
								<input type="checkbox" name="3F" id="3F" disabled />
								{{else}}
								<input type="checkbox" name="3F" id="3F" />
								{{/if}}
								<label for="3F">3F</label>
							</li>
						</ol>
					</li>
					<li class="row row-4">
						<ol class="seats" type="A">
							<li class="seat">
								{{#if A4}}
								<input type="checkbox" name="4A" id="4A" disabled />
								{{else}}
								<input type="checkbox" name="4A" id="4A" />
								{{/if}}
								<label for="4A">4A</label>
							</li>
							<li class="seat">
								{{#if B4}}
								<input type="checkbox" name="4B" id="4B" disabled />
								{{else}}
								<input type="checkbox" name="4B" id="4B" />
								{{/if}}
								<label for="4B">4B</label>
							</li>
							<li class="seat">
								{{#if C4}}
								<input type="checkbox" name="4C" id="4C" disabled />
								{{else}}
								<input type="checkbox" name="4C" id="4C" />
								{{/if}}
								<label for="4C">4C</label>
							</li>
							<li class="seat">
								{{#if D4}}
								<input type="checkbox" name="4D" id="4D" disabled />
								{{else}}
								<input type="checkbox" name="4D" id="4D" />
								{{/if}}
								<label for="4D">4D</label>
							</li>
							<li class="seat">
								{{#if E4}}
								<input type="checkbox" name="4E" id="4E" disabled />
								{{else}}
								<input type="checkbox" name="4E" id="4E" />
								{{/if}}
								<label for="4E">4E</label>
							</li>
							<li class="seat">
								{{#if F4}}
								<input type="checkbox" name="4F" id="4F" disabled />
								{{else}}
								<input type="checkbox" name="4F" id="4F" />
								{{/if}}
								<label for="4F">4F</label>
							</li>
						</ol>
					</li>
					<li class="row row-5">
						<ol class="seats" type="A">
							<li class="seat">
								{{#if A5}}
								<input type="checkbox" name="5A" id="5A" disabled />
								{{else}}
								<input type="checkbox" name="5A" id="5A" />
								{{/if}}
								<label for="5A">5A</label>
							</li>
							<li class="seat">
								{{#if B5}}
								<input type="checkbox" name="5B" id="5B" disabled />
								{{else}}
								<input type="checkbox" name="5B" id="5B" />
								{{/if}}
								<label for="5B">5B</label>
							</li>
							<li class="seat">
								{{#if C5}}
								<input type="checkbox" name="5C" id="5C" disabled />
								{{else}}
								<input type="checkbox" name="5C" id="5C" />
								{{/if}}
								<label for="5C">5C</label>
							</li>
							<li class="seat">
								{{#if D5}}
								<input type="checkbox" name="5D" id="5D" disabled />
								{{else}}
								<input type="checkbox" name="5D" id="5D" />
								{{/if}}
								<label for="5D">5D</label>
							</li>
							<li class="seat">
								{{#if E5}}
								<input type="checkbox" name="5E" id="5E" disabled />
								{{else}}
								<input type="checkbox" name="5E" id="5E" />
								{{/if}}
								<label for="5E">5E</label>
							</li>
							<li class="seat">
								{{#if F5}}
								<input type="checkbox" name="5F" id="5F" disabled />
								{{else}}
								<input type="checkbox" name="5F" id="5F" />
								{{/if}}
								<label for="5F">5F</label>
							</li>
						</ol>
					</li>
					<li class="row row-6">
						<ol class="seats" type="A">
							<li class="seat">
								{{#if A6}}
								<input type="checkbox" name="6A" id="6A" disabled />
								{{else}}
								<input type="checkbox" name="6A" id="6A" />
								{{/if}}
								<label for="6A">6A</label>
							</li>
							<li class="seat">
								{{#if B6}}
								<input type="checkbox" name="6B" id="6B" disabled />
								{{else}}
								<input type="checkbox" name="6B" id="6B" />
								{{/if}}
								<label for="6B">6B</label>
							</li>
							<li class="seat">
								{{#if C6}}
								<input type="checkbox" name="6C" id="6C" disabled />
								{{else}}
								<input type="checkbox" name="6C" id="6C" />
								{{/if}}
								<label for="6C">6C</label>
							</li>
							<li class="seat">
								{{#if D6}}
								<input type="checkbox" name="6D" id="6D" disabled />
								{{else}}
								<input type="checkbox" name="6D" id="6D" />
								{{/if}}
								<label for="6D">6D</label>
							</li>
							<li class="seat">
								{{#if E6}}
								<input type="checkbox" name="6E" id="6E" disabled />
								{{else}}
								<input type="checkbox" name="6E" id="6E" />
								{{/if}}
								<label for="6E">6E</label>
							</li>
							<li class="seat">
								{{#if F6}}
								<input type="checkbox" name="6F" id="6F" disabled />
								{{else}}
								<input type="checkbox" name="6F" id="6F" />
								{{/if}}
								<label for="6F">6F</label>
							</li>
						</ol>
					</li>
					<li class="row row-7">
						<ol class="seats" type="A">
							<li class="seat">
								{{#if A7}}
								<input type="checkbox" name="7A" id="7A" disabled />
								{{else}}
								<input type="checkbox" name="7A" id="7A" />
								{{/if}}
								<label for="7A">7A</label>
							</li>
							<li class="seat">
								{{#if B7}}
								<input type="checkbox" name="7B" id="7B" disabled />
								{{else}}
								<input type="checkbox" name="7B" id="7B" />
								{{/if}}
								<label for="7B">7B</label>
							</li>
							<li class="seat">
								{{#if C7}}
								<input type="checkbox" name="7C" id="7C" disabled />
								{{else}}
								<input type="checkbox" name="7C" id="7C" />
								{{/if}}
								<label for="7C">7C</label>
							</li>
							<li class="seat">
								{{#if D7}}
								<input type="checkbox" name="7D" id="7D" disabled />
								{{else}}
								<input type="checkbox" name="7D" id="7D" />
								{{/if}}
								<label for="7D">7D</label>
							</li>
							<li class="seat">
								{{#if E7}}
								<input type="checkbox" name="7E" id="7E" disabled />
								{{else}}
								<input type="checkbox" name="7E" id="7E" />
								{{/if}}
								<label for="7E">7E</label>
							</li>
							<li class="seat">
								{{#if F7}}
								<input type="checkbox" name="7F" id="7F" disabled />
								{{else}}
								<input type="checkbox" name="7F" id="7F" />
								{{/if}}
								<label for="7F">7F</label>
							</li>
						</ol>
					</li>
					<li class="row row-8">
						<ol class="seats" type="A">
							<li class="seat">
								{{#if A8}}
								<input type="checkbox" name="8A" id="8A" disabled />
								{{else}}
								<input type="checkbox" name="8A" id="8A" />
								{{/if}}
								<label for="8A">8A</label>
							</li>
							<li class="seat">
								{{#if B8}}
								<input type="checkbox" name="8B" id="8B" disabled />
								{{else}}
								<input type="checkbox" name="8B" id="8B" />
								{{/if}}
								<label for="8B">8B</label>
							</li>
							<li class="seat">
								{{#if C8}}
								<input type="checkbox" name="8C" id="8C" disabled />
								{{else}}
								<input type="checkbox" name="8C" id="8C" />
								{{/if}}
								<label for="8C">8C</label>
							</li>
							<li class="seat">
								{{#if D8}}
								<input type="checkbox" name="8D" id="8D" disabled />
								{{else}}
								<input type="checkbox" name="8D" id="8D" />
								{{/if}}
								<label for="8D">8D</label>
							</li>
							<li class="seat">
								{{#if E8}}
								<input type="checkbox" name="8E" id="8E" disabled />
								{{else}}
								<input type="checkbox" name="8E" id="8E" />
								{{/if}}
								<label for="8E">8E</label>
							</li>
							<li class="seat">
								{{#if F8}}
								<input type="checkbox" name="8F" id="8F" disabled />
								{{else}}
								<input type="checkbox" name="8F" id="8F" />
								{{/if}}
								<label for="8F">8F</label>
							</li>
						</ol>
					</li>
					<li class="row row-9">
						<ol class="seats" type="A">
							<li class="seat">
								{{#if A9}}
								<input type="checkbox" name="9A" id="9A" disabled />
								{{else}}
								<input type="checkbox" name="9A" id="9A" />
								{{/if}}
								<label for="9A">9A</label>
							</li>
							<li class="seat">
								{{#if B9}}
								<input type="checkbox" name="9B" id="9B" disabled />
								{{else}}
								<input type="checkbox" name="9B" id="9B" />
								{{/if}}
								<label for="9B">9B</label>
							</li>
							<li class="seat">
								{{#if C9}}
								<input type="checkbox" name="9C" id="9C" disabled />
								{{else}}
								<input type="checkbox" name="9C" id="9C" />
								{{/if}}
								<label for="9C">9C</label>
							</li>
							<li class="seat">
								{{#if D9}}
								<input type="checkbox" name="9D" id="9D" disabled />
								{{else}}
								<input type="checkbox" name="9D" id="9D" />
								{{/if}}
								<label for="9D">9D</label>
							</li>
							<li class="seat">
								{{#if E9}}
								<input type="checkbox" name="9E" id="9E" disabled />
								{{else}}
								<input type="checkbox" name="9E" id="9E" />
								{{/if}}
								<label for="9E">9E</label>
							</li>
							<li class="seat">
								{{#if F9}}
								<input type="checkbox" id="9F" name="9F" id="9F" disabled />
								{{else}}
								<input type="checkbox" id="9F" name="9F" id="9F" />
								{{/if}}
								<label for="9F">9F</label>
							</li>
						</ol>
					</li>
				</ol>
				<div class="exit exit--back fuselage">

				</div>
			</div>

			<div id="proceed">
				<a href="/checkout">
					<button class="btn btn-primary" type="submit" id="proceed_btn">Procced</button>
				</a>
			</div>

		</form>


		<div id="memorandum">
			<p><img src="/img/gold-seat.png" alt="gold seat"> <b>Gold Class - {{gold}} $</b><br> one checked luggage (up
				to
				25
				kg) and one small hand-luggage (up to 8kg). Wifi, extra leg space and personal tv screen with
				headphones.
			</p>

			<p><img src="/img/bussiness-seat.png" alt="gold seat"> <b>Bussiness Class - {{buss}} $</b> <br> one checked
				luggage
				(up to 25 kg). Wifi and extra leg space.
			</p>

			<p><img src="/img/economy-seat.png" alt="gold seat"> <b>Economy Class - {{eco}} $</b> <br> one small
				hand-luggage (up
				to 8kg).
			</p>
		</div>

	</section>



	<div class="modal fade" id="memorandum-modal" tabindex="-1" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h2 class="modal-title">Information</h2>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<p><img src="/img/gold-seat.png" alt="gold seat"> <b>Gold Class - {{gold}} $</b><br> one checked
						luggage (up
						to
						25
						kg) and one small hand-luggage (up to 8kg). Wifi, extra leg space and personal tv screen with
						headphones.
					</p>

					<p><img src="/img/bussiness-seat.png" alt="gold seat"> <b>Bussiness Class - {{buss}} $</b> <br> one
						checked
						luggage
						(up to 25 kg). Wifi and extra leg space.
					</p>

					<p><img src="/img/economy-seat.png" alt="gold seat"> <b>Economy Class - {{eco}} $</b> <br> one small
						hand-luggage (up
						to 8kg).
					</p>
				</div>
			</div>
		</div>
	</div>

</body>

</html>